*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}

.con-1{
    background-image:linear-gradient(45deg, rgb(0, 0, 0), #faffff33),url(/images/cake1.jpg);
    background-position: center;
    background-size: cover;
    height: 96vh;

}


.icon{
    color: rgb(58, 45, 58);
    font-size: 100px;
}

.divider{
   background-color: red;
    width: auto;
    
}



